Apache server configuration file.

.htaccess is a configuration file for use on web servers running the Apache Web Server software



_______________________________________________________________


Create a htaccess file in localhost root (for redirection)

RewriteEngine on

Redirect 301 / https://www.google.com/



_______________________________________________________________

Auth by htaccess

in .htaccess file:

RewriteEngine on
AuthType Basic
AuthName "Restricted Content"
AuthUserFile F:\lms\htdocs\index.html
Require valid-user


in index.html file

arman:123456
